body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #9bb;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  background-color: rgba(255, 255, 255, 0.297);
}

h1, h2 {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
}

form {
  margin-bottom: 30px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;

}

.inputField {
  width: 250px;
  height: 25px;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 17px;
  line-height: 18px;
  color: #575756;
  background-color: #f7f6f696;
  margin-left: 0px;
  border: 1px solid #191919;
  border-right: none;
}

.inputField:focus {
  background-color: #d2d2d296;
}

.searchBtn {
  margin-right: 0;
  padding: 0;
  border: 1px solid #191919;
  height: 51px;
  border-left: none;
}

.searchIcon {
  height: 49px;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe_content {
  text-align: center;
  border: 1px solid #191919;
  margin-bottom: 50px;
  padding: 10px 10px 40px;
  background-color: #d2d2d296;
  width: 500px;
}

.recipe_img {
  width: 300px;
  border-radius: 30%;
}

ul {
  list-style: none;
  padding: 0 30px 0 20px ;
  text-shadow: 0 1px 0 rgba(245, 243, 243, 0.5);
  width: 400px;
  text-align: start;
}

.icon {
  width: 13px;
  margin-right: 3px;
}

.moreInfo {
  padding: 5px 15px;
  font-size: 15px;
  box-shadow: 10px 5px 5px rgb(79, 77, 77);
  border: 1px solid #191919;
}

.moreInfo:hover {
  box-shadow: 5px 2px 2px rgb(79, 77, 77);
  color: #434343;
  background-color: #e1dede;
}

@media all and (max-width: 600px) {
  .recipe_content {
    width: 85%;
  }

  ul {
    width: 90%;
  }
}